<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Google Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="../static/css/feedstyles.css" />
  <title>Devnode</title>
</head>

<body>
  <!-- Header Starts -->
  <div class="header">
    <div class="header__left">
      <h2>Devnode</h2>
      <div class="header__search">
        <i class="material-icons"> search </i>
        <input type="text" />
      </div>
    </div>

    <div class="header__right">
      <div class="headerOption">
        <i class="material-icons headerOption__icon"> home </i>
        <h3>Home</h3>
      </div>
      <div class="headerOption">
        <i class="material-icons headerOption__icon"> account_circle </i>
        <h3>Me</h3>
      </div>
    </div>
  </div>
  <!-- Header Ends -->

  <!-- Main Body Starts -->
  <div class="body__main">
    <!-- Sidebar Starts -->
    <div class="sidebar">
      <div class="sidebar__top">
        <img
          src="https://images.unsplash.com/photo-1579546929518-9e396f3cc809?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxMjA3fDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080"
          alt="" />
        <i class="material-icons sidebar__topAvatar"> account_circle </i>
        <h2>vivektangudu</h2>
        <h4>xyzsd@gmail.com</h4>
      </div>



    </div>
    <!-- Sidebar Ends -->

    <!-- Feed Starts -->
    <div class="feed">


      <!-- Post Starts -->
      <div class="post">
        <div class="post__header">
          <i class="material-icons sidebar__topAvatar"> account_circle </i>
          <div class="post__info">
            <h2>jtrjtfjk</h2>
            <p>Job Description</p>
          </div>
        </div>

        <div class="post__body">
          <p> </p>
        </div>

      </div>

      <!-- Post Ends -->

    </div>
    <!-- Feed Ends -->
    <div class="www">
      <button type="button" class="btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
        Make a post
      </button><br><br>
      <div class="container">
        <h2 style="text-align:center;">Category</h2>
        <div class="row">
          <div class="col-sm">
            Open source
          </div>
          <div class="col-sm">
            Hackathon
          </div>
          <div class="col-sm">
            Competative coding
          </div>
          <div class="col-sm">
            Others
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- Main Body Ends -->
</body>

</html>