{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css' ) }}">
{% endblock css %}

{% block navigation %}
    <h2><a href="{{ url_for('index') }}" class="logo">Devnode</a></h2>
    <p><a href="{{ url_for('index') }}" id="close">x</a></p>
{% endblock navigation %}

{% block content %}
    <div class="formContainer">
        <h3>Welcome to</h3>
        <h1>Devnode</h1>
        <!-- <button class="btn btn-light w-100 gbtn"><img src="{{ url_for('static', filename='assets/google.png') }}" class="googleLogo"> <span class="gtext">&nbsp Login with Google</span></button>
        <hr> -->
        <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="inputBox emailBox">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            {% if form.email.errors %}
                {{ form.email(class="w-75 is-invalid", placeholder="Email", autocomplete="off") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.email(class="w-75", placeholder="Email", autocomplete="off") }}
            {% endif %}
        </div>
        <div class="inputBox">
            <i class="fa fa-lock" aria-hidden="true"></i>
            {% if form.password.errors %}
                {{ form.password(class="w-75 is-invalid", placeholder="Password", autocomplete="off") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password(class="w-75", placeholder="Password", autocomplete="off") }}
            {% endif %}
        </div>
        <blockquote class="small"><a href="{{url_for('reset_request') }}">Forgot Password?</a></blockquote>
        {{ form.submit(class="lbtn btn btn-light w-100 lbtn gbtn", value="Login") }}
        <!-- <button class="btn btn-light w-100">Login</button> -->
        </form>
        <h5 class="text-center downLink">Don't have an account?<a href="{{ url_for('signup') }}">Register</a></h5>
    </div>


<script src="{{ url_for('static', filename='javascript/login.js') }}"></script>
{% endblock content %}

