{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css' ) }}">
{% endblock css %}

{% block navigation %}
    <h2><a href="{{ url_for('index') }}" class="logo">Devnode</a></h2>
    <p><a href="{{ url_for('index') }}" id="close">x</a></p>
{% endblock navigation %}

{% block content %}
<div class="formContainer">
    <h1>Devnode</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="inputBox mb-3">
            <i class="fa fa-lock" aria-hidden="true"></i>
            {% if form.password.errors %}
                    {{ form.password(class="w-75 is-invalid", placeholder="Password", autocomplete="off") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.password(class="w-75", placeholder="Password", autocomplete="off") }}
                {% endif %}
        </div>
        <div class="inputBox">
            <i class="fa fa-lock" aria-hidden="true"></i>
            {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="w-75 is-invalid", placeholder="Confirm Password", autocomplete="off") }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.confirm_password(class="w-75", placeholder="Confirm Password", autocomplete="off") }}
                {% endif %}
        </div>
        {{ form.submit(class="lbtn btn btn-light w-100 lbtn gbtn mt-4", value="Confirm") }}
    </form>
</div>

{% endblock content %}